<h1> Receita Preenchida </h1>

<dl>
    <dt>Nome da receita: </dt>
      <dd><%= @recipe.name %></dd>
    <dt>Cozinha</dt>
      <dd><%= @recipe.cuisine.kind %></dd>
    <dt>Tipo de comida</dt>
      <dd><%= @recipe.food_type.name %></dd>
    <dt>Quantas pessoas serve</dt>
      <dd><%= @recipe.dish_qtd %></dd>
    <dt>Tempo de preparo (min)</dt>
      <dd><%= @recipe.prep_time %> min.</dd>
    <dt>Nível de dificuldade</dt>
      <dd><%= @recipe.recipe_difficulty.level %></dd>
    <dt>Ingredientes</dt>
      <dd><%= @recipe.ingredients %></dd>
    <dt>Passo a passo</dt>
      <dd><%= @recipe.directions %></dd>
    <dt>Imagem</dt>
      <dd><%= image_tag @recipe.picture.url %></dd>
</dl>
