<div class="row">
  <div class="col-md-4">

    <h2>Cozinhas</h2>
    <div id='cozinhas'>
      <% @cuisines.each do |c| %>
        <%= link_to c.kind, c  %>
      <% end %>
    </div>

    <h2>Tipos</h2>
    <div id='food_type'>
      <% @food_type.each do |f| %>
        <%= link_to f.name, f  %>
      <% end %>
    </div>

  </div>
  <div class="col-md-4">
     <h2>Últimas Receitas</h2>
    <dl>
      <% @recipes_top_20.each do |r| %>
          <dd><%= r.name %></dd>
        <dt>Cozinha</dt>
          <dd><%= r.cuisine.kind %></dd>
            <dt>Nível de dificuldade</dt>
          <dd><%= r.recipe_difficulty.level %></dd>
            <dd><%= image_tag r.picture.url(:thumb) %></dd>
          <%# end %>
      <% end %>
    </dl>

  </div>
  <div class="col-md-4">
    <h2>Receitas Favoritadas</h2>
    <dl>
      <% @recipes_top_20.each do |r| %>
          <dd><%= r.name %></dd>
        <dt>Cozinha</dt>
          <dd><%= r.cuisine.kind %></dd>
            <dt>Nível de dificuldade</dt>
          <dd><%= r.recipe_difficulty.level %></dd>
            <dd><%= image_tag r.picture.url(:thumb) %></dd>
          <%# end %>
      <% end %>
    </dl>
  </div>
</div>
